/*
* @Author: Admin
* @Date:   2016-12-01 16:39:16
* @Last Modified by:   Admin
* @Last Modified time: 2016-12-01 21:57:05
*/


 /*头部*/
.MMB_header {
    height: 50px;
    background-color: #ff841d;
}

.MMB_logo {
    padding: 14px 0 0 14px;
    box-sizing: border-box;
}

.MMB_logo a{
    width: 200px;
    height: 36px;
    display: block;
}

.APP_download {
    padding: 6px;
}

.APP_download a{
    width: 40px;
    height: 40px;
    display: block;
}

 /*搜索栏*/
.top_search {
    height: 30px;
    line-height: 30px;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    font-size: 16px;
}

#search_text {
    height: 30px;
    width: 100%;
    margin-right: 10px;
    outline: none;
    background-color: #f1f1f1;
    text-indent: 16px;
    border-radius: 14px;
}

.top_search #search_btn {
    height: 30px;
    width: 64px;
    background-color: #ff841d;
    border-radius: 14px;
    color: #ffffff;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* 主体 */
.content{

}
.content_wrap{
    width: 100%;
    height: 100%;
    background-color: #EDEDED;
}
.content .product_item{
    border-bottom:1px solid #ccc;
    background: url(../img/arrow1.gif) right 20px no-repeat;
}
.content .border_active{
    border-bottom:none;
}
.content .product_item.active{
    background-image: url(../img/arrow2.gif);
}
.content .product_item .product_title{
    color: #000;
    padding-left: 20px;
    height: 40px;
    font-family: 'sinsum';
    display: block;
    line-height: 40px;
    font-size: 20px;
    letter-spacing: 5px;
}
.product_list_wrap ul{
    background-color: #fff;
}
.product_list_wrap li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.product_list_wrap li:nth-child(1){
    border-top: 1px solid #ccc;
}
.product_list_wrap li:nth-child(2){
    border-top: 1px solid #ccc;
}
.product_list_wrap li:nth-child(3){
    border-top: 1px solid #ccc;
}
.product_list_wrap li:nth-child(3n){
    border-right: none;
}
.product_list_wrap li a{
    width: 100%;
    height: 100%;
    display: block;
}



