<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 让IE用最新的内核去渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 视口标签 -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>慢慢买</title>
    <!-- Bootstrap -->
    <!-- bootstrap的核心css文件 -->


    <link rel="stylesheet" href="css/commenQ.css">
    <link rel="stylesheet" href="css/baseq.css">
    <link rel="stylesheet" href="css/product.css">
    <script src="js/zepto.min.js"></script>
    <script src="js/template-native.js"></script>
</head>
<body>
<div class="all">
    <!--通用头部区域-->

    <div class="top_header">
        <div class="left fl"></div>
        <div class="right fr"></div>
    </div>
    <div class="btm_header">
        <div class="r-button fr ">
            <input class="button my__centerY " type="button" value="搜索">
        </div>
        <div class="l-select ">
            <input class="select  " type="text" placeholder="请输入你想比价的商品">
        </div>
    </div>
    <div class="pathname">
        <span><a href="index.html">首页></a> </span> <span><a href="brandTitle.html" class='replace'>全部分类 ></a></span><span id="get_url"></span>
    </div>

    <div class="mid-list">
        <p><span id="get_urltwo"></span>产品销量排行</p>
    </div>

    <!--中间内容-->
    <section class="product_nav">
        <ul class="product_tv clearfix">


        </ul>
    </section>


    <!--底部-->
    <section class='dis_footer'>
        <div class="top">
            <div class="link1 fl w30 public"><a href="#">登录</a></div>
            <div class="link2 fl w30 public"><a href="#">注册</a></div>
            <div class="link3 fr w40 public"><a href="#">点击返回顶部</a></div>
        </div>
        <div class="bottom">
            <p class="t"><span class='color'>手机APP下载</span> 慢慢买2手机版<span class='gray'>--掌上比价平台</span></p>
            <p class="b"><span class='gray'>m.manmanbuy.com</span></p>
        </div>
    </section>

</div>

<script type="text/template" id="tele">

    <% for (var i = 0; i < array.length; i++) {  %>

    <li>
        <!--<p><%= array[i].brandName%></p>-->
        <div class="l-pic fl">
            <a href="#">
                <%=# array[i].productImg %>
                <!--<img src="img/3_02.png" alt="">-->
            </a>
        </div>
        <div class="r-part ">
            <a class='need' href="productDetail.html?id+<%= array[i].brandTitleId  %>&id2+<%= array[i].productName%>&id3+<%= array[i].productImg%>">
                <p class="txt_cut"><%= array[i].productName%></p>
            </a>
            <div class="top-con">
                <span class="fl"><%= array[i].productPrice%></span>
                <img class="fr w25" src="img/images/star.png" alt="">
            </div>
            <div class="btm-con ">
                <span><%= array[i].productQuote%></span>
                <span><%= array[i].productCom%></span>
            </div>
        </div>
    </li>

    <%  } %>

</script>

<script>
    var changeHref;
    function getWay(location){
        var arr=location.split(':');
        return arr[1];
    }
    if(getWay(location.href)=='//localhost'){
        changeHref='192.168.50.130:8002';
    }else{
        changeHref='mmb.ittun.com';
    }
    function getUrl(url) {
        var obj = {};
        var string = url.split('?')[1];
        string.split('&').forEach(function (ele) {
            //结果是一个个的  中间是什么符号就用什么符号给分割开
            var b = ele.split('=');
            obj[b[0]] = b[1] ? b[1] : '';

        })
        return obj;
    }
    var id = getUrl(location.href).id;
    var id2=getUrl(decodeURI(location.href)).id2;
    console.log(id2);
    var arr=[];

    var replace=document.querySelector('.replace').innerHTML;
    var content=location.hash.split('#')[1];

    var _content = content.split('十大品牌')[0];


  for(var i=0;i<id2.length;i++){
      arr.push(id2[i]);
  }

    id2=id2.split('#')[0]

    var arr2 = arr.slice(4  );
    get_url.innerHTML= id2;
    get_urltwo.innerHTML= _content;

    $.ajax({
        type: 'get',
        url: 'http://'+changeHref+'/api/getbrandproductlist?brandtitleid=' + id,
        success: function (data) {
//            console.log(data);
            var tmpl = template('tele', {array: data.result});
            $('.product_tv').append(tmpl);

            //获取所有的A标签添加所有所有的后缀
            var need=document.querySelectorAll('.need');
            for(var i=0;i<need.length;i++){
                need[i].href+='#'+id2;
            }

        }
    })




    document.querySelector('.replace').innerHTML=content+' >';
    $('.replace').on('click',function(){
        history.back();
    })
</script>

</body>
</html>